body {
    font-family: 'Quicksand', sans-serif;
    background: black;
}

.img-bg {
    background: url(../pics/homeimg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.navbar {
    background-color: rgba(0, 0, 0, .75);
}

.main-title {
    background:  linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
}

.main-title .row {
    height: 50%;
    align-items: center;
    margin-left: 5%;
}

h1 {
    font-size: 4em;
    padding-top: 100px;
}

h2 {
    font-style: italic;
    font-size: 2em;
    margin-left: .5em;
}

.footer {
    background:  linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}

.production-list .list-group-item {
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.modal-content {
    background: linear-gradient(to left, rgb(0, 0, 46),black, rgb(32, 18, 0));
    color: white;
}

.card {
    background: linear-gradient(to left, rgba(0, 0, 255, 0.178),black, rgba(158, 90, 0, 0.24));
    border: 0;
}